<mat-toolbar color="primary">
    <button mat-icon-button (click)="toggleSidebar()">
      <mat-icon>menu</mat-icon>
    </button>
    <!-- <span>Nom Kitties</span> -->

    <span>
      <!-- <div style="display:flex; flex-direction: row; align-items: center;"> -->
        <img src="assets/icon/favicon.png" style="width: 30px; height: 30px; margin-inline-end: 1rem;">
        {{title}}
      <!-- </div> -->
    </span>
  </mat-toolbar>
  
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="isSidebarOpen">
      <mat-nav-list>
        <a mat-list-item routerLink="/home">
          <mat-icon>home</mat-icon>
          <span style="margin-left: 8px;">Home</span>
        </a>
        <a mat-list-item routerLink="/about">
          <mat-icon>info</mat-icon>
          <span style="margin-left: 8px;">About</span>
        </a>
        <a mat-list-item routerLink="/contact">
          <mat-icon>contact_mail</mat-icon>
          <span style="margin-left: 8px;">Contact</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
<router-outlet></router-outlet>
</mat-sidenav-content>
</mat-sidenav-container>