.joystick {
    /* position: fixed;
    bottom: 20px;
    left: 20px; */
    width: 100px;
    height: 100px;
    background: rgba(164, 162, 162, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    touch-action: none;
  }
  
  .joystick-handle {
    width: 50px;
    height: 50px;
    background: rgba(161, 61, 61, 0.3);
    border-radius: 50%;
    position: absolute;
  }