<div class="flex-column" style="justify-content: center; margin:1rem;">
  <ng-container *ngIf="view === 'loading'">
    <mat-spinner></mat-spinner>
  </ng-container>

    <ng-container *ngIf="view === 'quickstart'">
      <button mat-raised-button color="primary" (click)="view = 'start'">
        Start A Game &nbsp;<mat-icon>rocket</mat-icon>
      </button>
      <button mat-raised-button color="accent" *ngIf="!showRefresh" (click)="joinGame()">
        Join Game &nbsp;<mat-icon>sports_football</mat-icon>
      </button>
      <button mat-raised-button color="accent" *ngIf="showRefresh" (click)="refreshEmit.emit()">
        Refresh List &nbsp;<mat-icon>refresh</mat-icon>
      </button>
      <button mat-raised-button color="warn" (click)="view = 'private'">
        Enter A Code &nbsp;<mat-icon>code</mat-icon>
      </button>
    </ng-container>
    <ng-container *ngIf="view === 'start'">
      <form [formGroup]="newGameForm">
        <div class="flex-column">
        <mat-slide-toggle formControlName="public">
          {{ newGameForm.controls.public.value ? 'Public' : 'Private' }}
        </mat-slide-toggle>
        <mat-form-field appearance="fill">
          <mat-label>No of Players</mat-label>
          <mat-select formControlName="playersPerRound">
            <mat-option [value]="1">1</mat-option>
            <mat-option [value]="2">2</mat-option>
            <mat-option [value]="3">3</mat-option>
            <mat-option [value]="4">4</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Time Limit</mat-label>
          <mat-select formControlName="timeLimit">
            <mat-option [value]="10">10s</mat-option>
            <mat-option [value]="20">20s</mat-option>
            <mat-option [value]="30">30s</mat-option>
            <mat-option [value]="60">60s</mat-option>
            <mat-option [value]="90">90s</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Rounds</mat-label>
          <mat-select formControlName="totalRounds">
            <mat-option [value]="1">1</mat-option>
            <mat-option [value]="2">2</mat-option>
            <mat-option [value]="3">3</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      </form>
      <button mat-raised-button color="primary" (click)="startGame()">Start A Game</button>
      <button mat-raised-button color="warn" (click)="view = 'quickstart'">Cancel</button>
    </ng-container>


    <ng-container *ngIf="view === 'private'">
      <form [formGroup]="joinGameForm">
        <div style=" margin:auto; display:flex; justify-content: center;">
        <mat-form-field appearance="fill" style="width:100%; max-width: 300px;">
          <mat-label>Enter Code</mat-label>
          <input matInput formControlName="simpleCode" maxLength="6">
        </mat-form-field>
      </div>
      </form>
      <button mat-raised-button color="primary" (click)="joinGame()">Join Game</button>
      <button mat-raised-button color="warn" (click)="view = 'quickstart'">Cancel</button>
    </ng-container>
  </div>