<mat-toolbar color="primary">
    <span>Nom Kitties</span>
  </mat-toolbar>
  
  <div class="content">
    <div class="container">
      <div class="image-wrapper">
        <img src="../../assets/landing/title.png" alt="Nom Kitty in bubble letters" class="centered-image" />
      </div>
    
      <div class="image-wrapper">
        <img src="../../assets/landing/kitty.png" alt="Nom Kitty in bubble letters" class="centered-image" />
      </div>
  
      <div class="button-container">
        <button mat-raised-button color="primary" routerLink="/dashboard" class="full-width">
          Online <span>&nbsp;</span> <mat-icon>public</mat-icon>
        </button>
        
        <button mat-raised-button color="accent" routerLink="/local-game" class="full-width">
          Local Game <span>&nbsp;</span> <mat-icon>sports_esports</mat-icon>
        </button>
        
        <button mat-raised-button color="warn" routerLink="/learn-more" class="full-width">
          Learn More <span>&nbsp;</span> <mat-icon>help_outline</mat-icon>
        </button>
      </div>
    </div>
  </div>
  